/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

.container{
    border: 2.5px solid black;
    max-width: 300px;
    font-family: 'Roboto Mono', sans-serif;
}

.container img{
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.container h2{
    text-align: center;
    font-size: 1.2em;
    margin: 8px 0;
}

.container p{
    text-align: center;
    padding: 6px;
    font-size: 0.9em;
}

.language {
    text-align: center; 
    margin-bottom: 20px;
    padding: 10px;
}

.language p{
    text-align: center;
    display: inline-block;
    margin: 3px;        
    padding: 6px;
    width: 100px;
    font-size: 0.8em;
}

.language .blue{
    background: blue;
    padding: 2px;
    border-radius: 2.5px;
}

.language .yellow{
    background: yellow;
    padding: 2px;
    border-radius: 5px;
}

.language .green{
    background: rgb(168, 233, 168);
    padding: 2px;
    border-radius: 5px;
}

.language .redi{
    background: red;
    padding: 2px;
    border-radius: 5px;
    width: 120px;
}
.language .red{
    background: red;
    padding: 2px;
    border-radius: 5px;
}
.language .lightblue{
    background: rgb(0, 247, 255);
    padding: 2px;
    border-radius: 5px;
} */


